@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
}

.content {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .header {
  width: 100%;
  height: 260px;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 3rem 0 6rem 0;
}
.content .header__title {
  font-size: 3rem;
  color: hsl(227deg, 35%, 25%);
}
.content .header__info {
  font-size: 2rem;
  color: hsl(225deg, 20%, 60%);
  line-height: 3.2rem;
}
.content .card {
  width: 95%;
  max-width: 540px;
  background-color: #fff;
  padding: 35px 25px;
  border-radius: 15px;
  box-shadow: 1px 6px 6px 6px #f1f2f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
.content .card__head {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  gap: 42px;
}
@media (min-width: 900px) {
  .content .card__head {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, max-content);
  }
}
.content .card__head .card__title {
  font-size: 2rem;
  color: hsl(225deg, 20%, 60%);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
@media (min-width: 900px) {
  .content .card__head .card__title {
    grid-row: 1;
    grid-column: 1/1;
    align-self: center;
  }
}
.content .card__head .card__range {
  width: 100%;
  -webkit-appearance: none;
  height: 13px;
  border-radius: 6px;
  background: linear-gradient(to right, hsl(174deg, 77%, 80%) 0%, hsl(174deg, 77%, 80%) 50%, hsl(224deg, 65%, 95%) 0%, hsl(224deg, 65%, 95%) 0%);
  outline: none;
  padding: 0;
}
@media (min-width: 900px) {
  .content .card__head .card__range {
    grid-column: span 2;
    grid-row: 2;
  }
}
.content .card__head .card__range[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("../images/icon-slider.svg") no-repeat center;
  background-color: hsl(174deg, 86%, 45%);
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
  box-shadow: 0 10px 20px 0 hsl(174deg, 77%, 80%);
}
.content .card__head .card__range[type=range]::-webkit-slider-thumb:active {
  background-color: #92f4e9;
}
.content .card__head .card__range[type=range]::-webkit-slider-thumb:hover {
  background-color: #92f4e9;
}
.content .card__head .card__price {
  font-size: 5rem;
  font-weight: 800;
  color: hsl(227deg, 35%, 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}
@media (min-width: 900px) {
  .content .card__head .card__price {
    grid-column: 2/2;
    grid-row: 1;
    margin-bottom: 0;
  }
}
.content .card__head .card__price-date {
  font-size: 1.6rem;
  color: hsl(225deg, 20%, 60%);
  font-weight: normal;
  padding-left: 5px;
}
.content .card__billing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
  font-size: 1.6rem;
  color: hsl(225deg, 20%, 60%);
  gap: 12px;
  border-bottom: 1px solid hsl(223deg, 50%, 87%);
}
.content .card .billing__swicth {
  position: relative;
  width: 50px;
  height: 30px;
}
.content .card .billing__swicth .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(223deg, 50%, 87%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.content .card .billing__swicth .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.content .card .billing__swicth input:checked + .slider {
  background-color: hsl(174deg, 86%, 45%);
}
.content .card .billing__swicth input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.content .card .billing__swicth input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.content .card .billing__swicth .slider.round {
  border-radius: 34px;
}
.content .card .billing__swicth .slider.round:before {
  border-radius: 50%;
}
.content .card .billing__discount {
  background-color: #fce4df;
  border-radius: 30px;
  padding: 3px 8px;
  color: hsl(15deg, 100%, 70%);
  font-weight: 800;
}
.content .card .container__discount {
  margin: 40px 0;
}
@media (min-width: 900px) {
  .content .card .container__discount {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.content .card .container__discount .discount__options {
  margin-bottom: 2rem;
}
@media (min-width: 900px) {
  .content .card .container__discount .discount__options {
    margin-bottom: 0;
    text-align: left;
  }
}
.content .card .container__discount .discount__options .option {
  padding-bottom: 10px;
  font-size: 1.4rem;
  color: hsl(225deg, 20%, 60%);
}
.content .card .container__discount .discount__options .option .check {
  padding-right: 15px;
}
.content .card .container__discount .discount__cta .cta {
  width: 220px;
  height: 55px;
  border-radius: 30px;
  background-color: hsl(227deg, 35%, 25%);
  border: none;
  color: hsl(226deg, 100%, 87%);
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}
.content .card .container__discount .discount__cta .cta:hover {
  color: #f1f1f1;
}

/*# sourceMappingURL=style.css.map */
